name: Generate GitHub Stats Images
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    paths:
      - README.md

permissions:
  contents: write  # Required to commit and push changes

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for proper commits
      
      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.svg
          token: ${{ secrets.GH_TOKEN }}
          committer_token: ${{ secrets.GH_TOKEN }}
          base: header, activity, community, repositories, metadata
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          plugin_languages_limit: 8
